# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env
backend.log

# Node
frontend/node_modules/
frontend/.env
frontend.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Docker
postgres_data/
